<% if (erros != null) { %>
<div class="row">
    <div class="col-md-12">
        <div class="alert alert-danger">
            <strong>Atenção:</strong>
            <ul>
                <% erros.forEach(function(erro){ %>
                <li>
                    <%= erro.msg %>
                </li>
                <% }); %>
            </ul>
        </div>
    </div>
</div>
<% } %>
